body {
  font-family: courier, monospace;
  margin: 15px;
  background-color: #ECF0F1
}

.jumbotron {
  background-color:  #85C1E9;
  border: 4px solid black;
  text-align: center;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {

}

p{
  text-align: center;
}

#quiz {
  border: 4px solid black;
  text-align: center;
  padding: 22px;
}

#results {
  background-color:  #85C1E9;
  border: 4px solid black;
  text-align: center;
  padding: 22px;
  display: none;
}

#csharp {
  display: none;
}

#java {
  display: none;
}

#php {
  display: none;
}

#ruby {
  display: none;
}

.button {
  display: none;
}
